<% layout('layouts/boilerplate') %> 
    <h1>All Posts</h1>
    <% for(let post of posts){ %> 
        <div class="card" style="width: 80rem;">
            <div class="card-body">
              <h5 class="card-title"><%= post.author%></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%= post.state %></h6>
              <p class="card-text"><%= post.description%> .</p>
              <a href="/posts/<%=post._id%>" class="card-link">Show Post</a>
              
            </div>
          </div>
    <br>
<% } %> 


